<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Simple Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
#header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
}

#nav {
	line-height: 30px;
	background-color: #eeeeee;
	height: 300px;
	width: 100px;
	float: left;
	padding: 5px;
}

#section {
	width: 350px;
	float: left;
	padding: 10px;
}

#footer {
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}
</style>

</head>
<body>
<body>

	<header>
		<h1>Meet The Team</h1>
	</header>

	<section>
		<h1>CEO</h1>
		<img src="../images/ceo.png" th:attr="src=@{/images/ceo.png}" height="250"/>
		<h1>CTO</h1>
		<img src="../../images/cto.png" th:attr="src=@{/images/cto.png}" height="250"/>
	</section>
	
	    <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

	<footer> Copyright © W3Schools.com </footer>

</body>
</body>
</html>